@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&family=Shrikhand&display=swap");

body {
    box-sizing: border-box;
    width: 100%;
    height: auto;
    font-family: Roboto;
    font-weight: 500;
}

/* 
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&family=Shrikhand&display=swap");
*/